.app-row {
    transition: unset;
    padding: 5px 0 5px 10px;
    background-color: #232136;
}

.app-row:selected {
    background-color: #569FBA;
}

.app-label {
    margin-left: 10px;
    font-family: FiraCode Nerd Font;
    font-size: 16px;
    font-weight: 300;
}

.app-list {
    background-color: #393552;
 }

#root-box {
    border: 3px solid #393552;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    margin: 100px;
    background-color: #232136;
}

#search {
    font-family: FiraCode Nerd Font;
    font-size: 16px;
    padding: 2px 8px;
    margin: 5px;
}
